.card
	font-family: 'Roboto', sans-serif
	display: grid
	grid-template-columns: fit-content(400px) 1.5fr 

	.image-holder
		width: 100%

		img
			width: 100%
			max-width: 300px

	.content-holder
		padding: 20px
		width: calc(100% - 40px)

		&>div
			margin-top: 10px

		.attacks
			.attack
				p
					display: inline-block
					margin: 0
					margin-top: 2px
					vertical-align: top

				.symbol
					background-image: url(../../assets/symbols.png)
					background-size: 200px
					width: 24px
					height: 24px
					display: inline-block
					margin-right: 5px

				.desc
					font-size: 10px
					margin-top: 5px

@media (max-width: 500px)
	.card
		grid-template-columns: 1fr
		.image-holder
			img
				max-width: 70%
				margin-left: 15%