<div class='card' *ngIf="card">
	<div class='image-holder'>
		<img src={{card.imageUrlHiRes}}>
	</div>
	<div class='content-holder'>
		<div><b>Nome:</b> {{card.name}}</div>
		<div><b>Id:</b> {{card.id}}</div>
		<div *ngIf="card.types" class='type'><b>Tipos:</b> 
			<span *ngFor="let type of card.types">
				{{type}}
			</span>
		</div>
		<div *ngIf="card.attacks" class='attacks'><b>Ataques:</b>
			<ul *ngFor="let attack of card.attacks">
				<li class='attack'>
					<div *ngFor="let cost of attack.cost" [ngClass]="{'symbol':true}" class={{cost}}></div>
					<p>{{attack.name}} (<b>Dano</b>: {{attack.damage}})</p>
					<div class='desc' *ngIf="attack.text"><p>{{attack.text}}</p></div>
				</li>
			</ul>
		</div>
		<div *ngIf="card.resistances"><b>Resistencias: </b>
			<ul>
				<li *ngFor="let resistance of card.resistances">{{resistance.type}} ({{resistance.value}})</li>
			</ul>
			{{car}}
		</div>
		<div *ngIf="card.weaknesses"><b>Resistencias: </b>
			<ul>
				<li *ngFor="let weaknes of card.weaknesses">{{weaknes.type}} ({{weaknes.value}})</li>
			</ul>
			{{car}}
		</div>
		<div *ngIf="card.text">
			<b>Texto:</b> {{card.text}}
		</div>
	</div>
</div>