body
	margin: 0
	padding: 0

.symbol
	&.Colorless
		background-position: 112px 0px
	&.Fighting
		background-position: 68px 0px
	&.Water
		background-position: 135px -35px
	&.Lightning
		background-position: 178px -35px
	&.Free
		background-position: 0px -74px
	&.Psychic
		background-position: 90px -35px
	&.Darkness
		background-position: -44px 0px
	&.Fire
		background-position: 24px 0px
	&.Metal
		background-position: 46px -35px
