<div class='inicial_holder'>
	<div class='header'>
		<img class='logo' src='https://images.pokemontcg.io/base1/logo.png'>
	</div>
	<div class='strip'>
		<h1>Cards</h1>
		<div class='search'>
			<input [(ngModel)]="searchName" type="text" name="search" placeholder="Nome">
			<button (click)="clickSearch()"><img src="https://www.flaticon.com/svg/static/icons/svg/54/54481.svg"></button>
		</div>
	</div>
	<div class='card_holder'>
		<div *ngFor="let card of cards" class='card' (click)="clickCard(card.id)">
			<p class='title'>{{card.name}} (id: {{card.id}})</p>
			<p *ngIf="card.types" class='type'>Tipos: 
				<span *ngFor="let type of card.types" [ngClass]="{'symbol':true}" class={{type}}></span>
			</p>
			<img src={{card.imageUrl}}/>
		</div>
	</div>
</div>
