.inicial_holder
	font-family: 'Roboto', sans-serif
	max-width: 100%

	.header
		width: 100%

		.logo
			margin: auto
			max-width: 400px
			width: 100%
			display: block

	.strip
		width: 100%
		background-color: #eee
		margin-top: 40px
		padding: 8px

		h1
			text-align: center
			margin: 0

		.search
			display: flex
			justify-content: center

			input
				height: 24px

			button
				margin-left: 10px
				img
					width: 18px
					height: 18px

	.card_holder
		width: 100%
		padding-top: 40px
		display: flex
		flex-wrap: wrap
		justify-content: center

		.card
			display: inline-block
			width: 200px
			height: 350px
			border: 1px solid #d3f6f6
			background-color: #effcfc
			margin: 10px
			padding: 10px
			cursor: pointer
			position: relative

			.title
				text-align: center
				margin: 4px 0

			.type
				text-align: center
				font-size: 12px
				margin: 2px 0 10px 0

				.symbol
					background-image: url(../../assets/symbols.png)
					background-size: 200px
					width: 24px
					height: 24px
					display: inline-block
					margin-right: 5px

			img
				max-width: 80%
				position: absolute
				bottom: 10%
				left: 10%

@media (max-width: 500px)
	.inicial_holder
		.card_holder
			.card
				width: 40%
				padding: 4px
				height: 280px
				margin: 5px

				img
					max-width: 70%
					bottom: 5%
					left: 15%
	